# Node dependencies
node_modules
npm-debug.log
yarn-debug.log*
yarn-error.log*

# Local build output
dist
.cache

# Environment and system files
.env
.env.local
.DS_Store
.vscode
.idea

# Git
.git
.gitignore

# Misc
*.swp
