services:
  # ----------------------------------
  # PostgreSQL Database
  # ----------------------------------
  db:
    image: postgres:15
    container_name: home_budget_db
    restart: always
    environment:
      POSTGRES_USER: budget
      POSTGRES_PASSWORD: budget
      POSTGRES_DB: budget_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
volumes:
  postgres_data:

