services:
  - type: web
    name: hbw-backend
    env: docker
    dockerfilePath: backend/Dockerfile
    autoDeploy: true
    envVars:
      - key: PYTHONUNBUFFERED
        value: "1"
      - key: PORT
        value: 8000

  - type: web
    name: hbw-frontend
    env: docker
    dockerfilePath: frontend/Dockerfile
    autoDeploy: true
    envVars:
      - key: VITE_API_BASE_URL
        fromService:
          type: web
          name: hbw-backend
          property: url
