services:
  - type: web
    name: home-budget-backend
    env: python
    plan: free
    buildCommand: |
      # Ensure Poetry is available
      pip install poetry
      # Install project dependencies
      poetry install --no-root
    startCommand: |
      poetry run uvicorn app.main:app --host 0.0.0.0 --port $PORT
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.9
      - key: DATABASE_URL
        fromDatabase:
          name: home-budget-db
          property: connectionString
databases:
  - name: home-budget-db
    plan: free
