services:
  - type: web
    name: hbw-backend
    env: docker
    dockerfilePath: backend/Dockerfile
    autoDeploy: true

  - type: web
    name: hbw-frontend
    env: docker
    dockerfilePath: frontend/Dockerfile
    buildCommand: ""
    envVars:
      - key: VITE_API_BASE_URL
        fromService:
          type: web
          name: hbw-backend
          property: hostport
    build:
      context: ./frontend
